.fieldset {
  background-color: #00000000;
  backdrop-filter: blur(10px);
  padding: 50px;
}

.legend {
  font-size: 38px;
}

#outlined-basic {
  border: 2px solid white;
  color: white;
  height: 20px;
}
