.fieldset {
  background-color: #fff7e4;
  border: 5px double #daa520;
  border-radius: 15px;
  padding: 35px;
}

.legend {
  background-color: #af2c02;
  border-radius: 5px;
  font-size: 46px;
  padding: 0px 20px;
}
